body {
    text-align: center;
    background: url("../images/bg-full.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

canvas {
	background-color: pink;
}
